<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"> <%= park.name.slice(0, -14) %></p>
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-intro-list" data-toggle="list" href="#list-intro" role="tab" aria-controls="intro">INTRODUCTION</a>
                <a class="list-group-item list-group-item-action" id="list-gallery-list" data-toggle="list" href="#list-gallery" role="tab" aria-controls="gallery">GALLERY</a>
                <a class="list-group-item list-group-item-action" id="list-blogs-list" data-toggle="list" href="#list-blogs" role="tab" aria-controls="blogs">BLOGS</a>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane active" id="list-intro" role="tabpanel" aria-labelledby="list-intro-list">
                    <%- include("../partials/parkintro") %>
                </div>
                <div class="tab-pane" id="list-gallery" role="tabpanel" aria-labelledby="list-gallery-list">
                    <%- include("../partials/gallery") %>
                </div>
                    
                <div class="tab-pane" id="list-blogs" role="tabpanel" aria-labelledby="list-blogs-list">
                    <%- include("../partials/blogs") %>
                </div>
                
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>